@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-figtree), sans-serif;
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);

  --color-success-100: var(--success-100);
  --color-success-500: var(--success-500);
  --color-success-700: var(--success-700);

  --color-destructive-100: var(--destructive-100);
  --color-destructive-500: var(--destructive-500);
  --color-destructive-700: var(--destructive-700);
  --color-destructive: var(--destructive);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-brand: var(--brand);
  --color-highlight: var(--highlight);
}

:root {
  /* Core Palette */

  --primary-50: #caf4ff;
  --primary-100: #b0edfc;
  --primary-200: #94eaff;
  --primary-300: #7be5ff;
  --primary-400: #31d1fa; /* anchor */
  --primary-500: #1fc8f2;
  --primary-600: #0db8e3;
  --primary-700: #008fc3;
  --primary-800: #027fac;
  --primary-900: #006489;

  --secondary-50: #faf5ff;
  --secondary-100: #f3e8ff;
  --secondary-200: #e9d5ff;
  --secondary-300: #d8b4fe;
  --secondary-400: #c084fc;
  --secondary-500: #a855f7; /* anchor */
  --secondary-600: #9333ea;
  --secondary-700: #7e22ce;
  --secondary-800: #6b21a8;
  --secondary-900: #581c87;

  --accent-50: #fff7ed;
  --accent-100: #ffedd5;
  --accent-200: #fed7aa;
  --accent-300: #fdba74;
  --accent-400: #fb923c;
  --accent-500: #f59e0b; /* anchor */
  --accent-600: #ea580c;
  --accent-700: #c2410c;
  --accent-800: #9a3412;
  --accent-900: #7c2d12;

  /* Background */
  --background: #fafdff;

  /* Foreground */
  --foreground: #10131a;
  --secondary-foreground: #f3f6fa;
  --accent-foreground: #818792;
  --primary-foreground: #fff;

  /* Status */
  --success-100: #dcfce7;
  --success-500: #22c55e;
  --success-700: #15803d;

  --destructive-100: #fee2e2;
  --destructive-500: #ef4444;
  --destructive-700: #b91c1c;
  --destructive: #ef4444;

  /* Card */
  --card: #ffffff;
  --card-foreground: #10131a;

  /* Muted */
  --muted: #e6e8ec;
  --muted-foreground: #979da8;

  /* Popover */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --radius: 0.625rem;

  --input: #fafcff;
  --border: #ebeef3;
  --ring: #93c5fd;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 8rem;
  --spacing-3xl: 16rem;
  --spacing-4xl: 32rem;
  --toastify-toast-background: "#000";
  --toastify-container-width: fit-content;
  --toastify-toast-width: clamp(400px, 10vw, 500px);
  --toastify-toast-bd-radius: var(--spacing-md);
  --toastify-text-color-error: var(--color-destructive-500);
  --toastify-z-index: 9999;
  --toastify-toast-padding: 10px;
  --highlight: oklch(0.852 0.199 91.936);
  --brand: oklch(0.623 0.214 259.815);
}

@layer base {
  * {
    @apply border-border outline-ring/70;
  }

  body {
    @apply bg-background text-foreground font-sans h-dvh mx-auto overflow-hidden selection:bg-primary-400! selection:text-white;
  }
  main {
    @apply relative h-dvh flex flex-col overflow-y-auto w-full;
  }

  h1 {
    @apply text-2xl font-bold font-heading;
  }
  h2 {
    @apply text-xl font-bold font-heading;
  }
  button {
    @apply cursor-pointer;
  }
  section {
    @apply bg-primary-foreground  p-5 rounded-xl border shadow-sm mb-8;
  }
}

@layer components {
  .header {
    @apply relative w-full flex py-6 px-8 border-b justify-between items-center gap-5 bg-primary-foreground;
  }
  .content-body {
    @apply relative py-5 px-3;
  }
  .gradient-background {
    @apply bg-linear-to-br to-primary-300 from-secondary-300;
  }
  .input {
    @apply text-foreground data-placeholder:text-muted-foreground focus-visible:ring-2 shadow-xs focus-visible:bg-blue-200/20 h-11 focus-visible:ring-primary-400/50  placeholder:text-muted-foreground selection:bg-primary-500 border flex w-full min-w-0 rounded-full bg-input px-4 py-3 text-base transition-[color,box-shadow,border,background] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm autofill:border-ring autofill:bg-primary-100/20  autofill:text-foreground;
  }
  .secondary-header {
    @apply sticky bg-primary-foreground flex-wrap flex gap-5 top-0 z-50 px-8 py-4 border-b items-center;
  }
  .strategy-card {
    @apply relative  transition-shadow duration-200 rounded-2xl shadow-md border-2 max-w-xl;
  }
  .container {
    @apply py-6 px-4 overflow-hidden flex flex-col relative w-full max-w-[1000px]! mx-auto  h-full;
  }
  .btn {
    @apply relative inline-flex items-center cursor-pointer justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-medium transition-all [&_path]:transition-all duration-200 ease-in-out focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg:not([class*='size-'])]:size-4 [&_svg]:pointer-events-none;
  }
  .btn-destructive {
    @apply bg-destructive-100 text-destructive-500 overflow-hidden shadow-xs hover:bg-destructive-500/30;
  }
  .center-all {
    @apply flex items-center justify-center;
  }
  .btn-primary {
    @apply font-semibold text-white 
           bg-primary-400 hover:bg-primary-500;
  }
  .btn-link {
    @apply text-foreground bg-transparent underline-offset-4 p-1! hover:underline;
  }
  .btn-secondary {
    @apply bg-secondary-500 text-white  hover:bg-secondary-600;
  }
  .btn-tertiary {
    @apply bg-primary-foreground shadow-md shadow-foreground/10 text-foreground hover:bg-secondary-foreground;
  }
  .btn-ghost {
    @apply hover:bg-foreground/10;
  }
  .btn-accent {
    @apply bg-accent-500 text-accent-foreground hover:bg-accent-600;
  }

  .btn-outline {
    @apply border bg-transparent shadow-sm text-foreground hover:bg-background hover:text-accent-foreground;
  }
  .btn-muted {
    @apply bg-secondary-foreground h-10 w-10 rounded-md flex p-0 items-center justify-center text-gray-500 hover:bg-muted-foreground/30 [&_svg]:size-5;
  }

  .card {
    @apply bg-card text-card-foreground rounded-2xl shadow-sm border border-border p-4;
  }

  .heading-xl {
    @apply text-3xl font-semibold text-foreground;
  }
  .heading-lg {
    @apply text-2xl font-semibold text-foreground;
  }
  .heading-md {
    @apply text-xl font-semibold text-foreground;
  }

  .loading-state {
    @apply w-full;
  }

  .loading-state-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 sm:gap-6;
  }

  .loading-state-list {
    @apply space-y-4;
  }

  .loading-state-inline {
    @apply flex gap-4 overflow-x-auto;
  }

  .loading-state-card {
    @apply space-y-3;
  }
  .card-content {
    @apply inset-0 flex flex-col justify-between p-6 text-white z-10;
  }
  .row {
    @apply flex flex-row! items-center gap-3 md:gap-4 lg:gap-5;
  }

  .icon-ghost {
    @apply min-w-10 h-10 bg-foreground/20 rounded-full flex items-center justify-center;
  }
  .faded-row {
    @apply mask-[linear-gradient(to_right,transparent,black_10%,black_90%,transparent)];
  }
  .faded-top {
    @apply mask-[linear-gradient(to_bottom,transparent,black_10%,black)];
  }
  .faded-col {
    @apply mask-[linear-gradient(to_bottom,transparent,black_10%,black_90%,transparent)];
  }
  .disabled-video-container {
    @apply w-full h-full flex flex-col text-center items-center justify-center text-white bg-linear-to-br from-primary-400 to-secondary-600 p-6;
  }
  .participant-preview-container {
    @apply mx-auto max-w-107.5 min-w-65 aspect-video  rounded-xl shadow-md  border-white border-3 overflow-hidden;
  }
}

.dark {
  --highlight: oklch(0.852 0.199 91.936);
  --brand: oklch(0.707 0.165 254.624);
}
